/**
 * @Author: Richard Steele <richardsteele>
 * @Date:   2017-09-26T12:53:37+01:00
 * @Email:  rs195256@falmouth.ac.uk
 * @Project: COMP210
 * @Filename: main.css
 * @Last modified by:   richardsteele
 * @Last modified time: 2017-09-26T12:54:40+01:00
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }

 html{overflow-y:scroll;} /*Forces a scrollbar when the viewport is larger than the website's content CSS3 */

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #919191;
    background-color: #232323;
    line-height: 1;
}
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }



body, html{
  width:100%;
  height:100%;
  margin:0px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 2em;
  padding:10px;
  font-weight:bold;
}
h2{
  font-size: 1.4em;
  padding:4px;
}

 /*Added in stuff */
 li.last{margin-right:0;}
/* ----------------------------------------------Wrapper-------------------------------------*/
 div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

 .row1, .row1 a{color:#C0BAB6; background-color:#333333;}
 .row2 {color:#979797; background-image:url("background.png"); background-repeat:no-repeat;}
 .row2 a{color:#FF9900;}
 .row3, .row3 a{color:#919191; background-color:#232323;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}

/*----------------------------------------------Header-------------------------------------*/

#header {padding: 20px 0;}

#header #hgroup {float: left; margin: 0 0 20px 0; }
#header #hgroup h1, #header #hgroup h2 {
            font-weight: normal;
            font-style: normal;
            text-transform: none;
        }
#header #hgroup h1 {
            font-size: 36px;
        }
#header #hgroup h2 {
            font-size: 13px;
        }
#header form {
        display: block;
        width: 290px;
        float: right;
        margin: 20px 0;
        padding: 0;
    }
#header form input {
            display: block;
            float: left;
            width: 200px;
            margin: 0;
            padding: 5px;
            color: #C0BAB6;
            background-color: #232323;
            border: 1px solid #666666;
        }
#header form #sf_submit {
            display: block;
            float: right;
            width: 70px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #FF9900;
            border: none;
            cursor: pointer;
        }
#header nav {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        color: #C0BAB6;
        background-color: #232323;
        clear: both; }
#header nav ul {
            padding: 0 20px; }
#header nav li {
            display: inline;
            margin-right: 25px;
            text-transform: uppercase; }
#header nav li.last { margin-right: 0; }
#header nav li a { color: #C0BAB6; background-color: #232323; }
#header nav li a:hover {color: #FF9900; background-color: #232323; }


.main-container{
  width:960px;
  background:#eee;
  margin: 30px auto;
  position: relative;
  overflow: auto;
  padding-bottom:80px;
}
header {height:100px;}
/*
header{
  width:100%;
  height:100px;
  background: #aaa;
}
*/
.content{
  width:100%;
  min-height:400px;
}
aside{
  width:30%;
  min-height: 300px;
  float:left;
  background:#777;
}
nav ul{
  margin:10px;
}
nav ul li{
  margin:5px;
}
nav ul li a{
  display:block;
  width: 90%;
  height:60px;
  background-color: #222;
  color: #fff;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
}
nav ul li a.selected{
  text-decoration: underline;
  background: #888;
}
nav ul li a:hover{
  background: #888;
}
section{
  width:65%;
  min-height:300px;
  background: #555;
  float: right;
  margin:10px;
}
footer{
  clear: both;
  width:100%;
  height:40px;
  background: #bbb;
  position: absolute;
  bottom: 0px;
  padding:20px 0;
}
